*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* border: 1px solid red !important; */
}

/* import and reuse for all components */
:root {
  --RU_giantText: 4rem;
  --RU_largeText: 3rem;
  --RU_bigText: 2rem;
  --RU_mediumText: 1.5rem;
  --RU_regularText: 1rem;
  --RU_smallText: .7rem;

  --RU_mobileScreen: 500px;
  --RU_tabletScreen-start: 501px;
  --RU_tabletScreen-end: 1023px;
  --RU_desktopScreen: 1024px;

  --RU_regularSize: 1rem;
}


/* Reusable component applies the styles */
/* every component must have class RU on it */

.RU_h1 {
  font-size: var(--RU_bigText);
  font-weight: bold;
}

.RU_h2 {}

.RU_h3 {}

.RU_h4 {}

.RU_h5 {}


.RU_giantText {
  font-size: var(--RU_giantText);
  font-weight: bold;
}

.RU_largeText {
  font-size: var(--RU_largeText);
  font-weight: bold;
}

.RU_smallText {}

.RU_svg {
  aspect-ratio: 1/1;
  width: var(--RU_regularTize);
}

.RU_makeBold {}

@media only screen and (min-width: 1024px) {
  /* desktop */
}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
  /* tablet */
}

@media only screen and (max-width: 500px) {
  /* phone */
}






/* dev settings */

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.signalText {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem .5rem;
  background-color: aliceblue;
  text-transform: capitalize;
}